h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    font-weight:400;
    color:#172b4d;
}
.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    padding-left:10px;
    padding-right:10px;
}
body {
    background-color: #fafafa;
    padding:20px;
}
.navbar-default, .navbar-header {
    background-color: rgba(255,255,255,0.9);
    border-bottom:#000;
}
.navbar-brand {
    height:100%;
}
.navbar-brand > img {
    height:50px;
}
/*Buttons*/
.btn {
    margin-top:10px;
    margin-right:10px;
}
.btn-primary {
	background-color:#ff2b2b;
	border-color:#ff2b2b;
}
/*Container*/
.jumbotron {
    padding:30px;
    margin-top:80px;
    background-color:#fff;
}
/*Card*/
.thumbnail {
    border: 1px solid #f0f0f0;
    padding:30px;
}
.label-success {
    background-color:#21C375;
}
.label-success:before {
    content:'';
    background-color:inherit;
    display: inline-block;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent; 
    border-top: 6px solid #fff;
    margin-right: 6px;
}
